/**
 * SBI証券デフォルトページスタイル調整用CSS
 * コンポーネントに適用するスタイルは各コンポーネント内でTailwind CSSを使用して定義する
 */

/* 不要な要素を非表示にする */
body > div:nth-child(1) > header > nav > section > div.slc-header-nav-menu > div.slc-header-nav-menu-items > div.slc-header-nav-upper-menu,
body > div:nth-child(1) > nav.slc-global-nav,
#TIMEAREA01,
body > table,
body > div.middleArea2,
footer,
#karte-c {
  display: none;
}

/* ヘッダーの「サービス」があると表示崩れを起こす */
body
  > div:nth-child(1)
  > header
  > nav
  > section
  > div.slc-header-nav-menu
  > div.slc-header-nav-menu-items
  > div.slc-header-nav-lower-menu
  > ul
  > li.slc-nav-item.slc-nav-accordion-item.slc-dropdown-menu {
  display: none;
}

/* ヘッダーの高さを調整し、ホバー時だけ表示させるようにする */
body > div:nth-child(1) > header.slc-header > nav.slc-header-nav {
  height: 4.0625em;
}
body > div:nth-child(1) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;

  > * {
    opacity: 0;
  }

  &:hover {
    height: auto;

    > * {
      opacity: 1;
    }
  }
}
